.agendaContainer {
  perspective: 1;
  border-radius: 4px;
  margin: 0;
}

.agendaWrapper {
  margin: 24px 24px 20px 24px;
}

.rightContent {
  line-height: 20px;
  margin-top: 23px;
}

.leftContent {
  line-height: 26px;
  margin-top: 23px;
}

