.container {
  position: relative;
}

/* Hide default checkbox */
.container .input[type='checkbox'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

/* Custom checkbox */
.container .input[type='checkbox']::after {
  content: '';
  position: absolute;
  top: -7.5px;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: #FFFFFF;
  border: solid 1.75px #D1D5DB;
  border-radius: 1px;
}

.container .input[type='checkbox']:checked::after {
  content: '';
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  background-size: 175% 175%;
  background-position: 50%;
  position: absolute;
  top: -7.5px;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: #0973FA;
  border: solid 1.75px #0973FA;
  border-radius: 1px;
}
