.NewsItemCard {
  /* Basic ー 500 */
  background: #ffffff;
  /* Primary — 50 */
  border: 1px solid #dce8f3;
  /* 1dp elevation */
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12),
    0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

h1.LineHeight {
  line-height: 23.2px;
}

.NewsItemCardImage {
  width: 100px;
  height: 100px;
}

.TranslationLineHeight{
  line-height: 15.6px;
}

/* Image loader */

.imgLoaderContainer {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.imgLoaderContainer img {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.imgLoaderContainer span.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(100deg, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 500px 500px;
  animation-name: placeholderAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  z-index: 2;
}

@keyframes placeholderAnimation {
  0% {
    background-position: -250px;
  }
  100% {
    background-position: 250px;
  }
}
