.list {
  padding-bottom: 68px;
}

.listContent {
  margin-bottom: 112px;
}

.buttonsLabel {
  max-width: 335px;
}

.titleLabel {
  max-width: 345.5px;
}

.courseLabel {
  margin-bottom: 20px;
  text-align: center;
  color: #044071;
}

@media only screen and (max-width: 320px) {
  .buttons {
    margin-left: 15px;
    margin-right: 15px;
  }
}
