.tableGround {
  flex: 1.5;
}

.table1,
.table2,
.table3,
.table4 {
  max-width: 544px;
}

.table1 th,
.table2 th,
.table3 th,
.table4 th {
  font-size: 12px;
  line-height: 12px;
  height: 40px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.table1 td,
.table2 td,
.table3 td,
.table4 td {
  font-size: 12px;
  line-height: 12px;
  color: #1F2937;
  height: 44px;
  padding-top: 12px;
}

.table1 tr td:not(:first-child),
.table2 tr td:not(:first-child),
.table3 tr td:not(:first-child),
.table4 tr td:not(:first-child) {
  padding-right: 0;
}

.hasTotal tr:last-child td:first-child {
  font-weight: bold;
}

.table1 th:nth-child(1) {
  min-width: 111px;
}

.table1 th:nth-child(2) {
  min-width: 113px;
}

.table1 th:nth-child(3) {
  width: 100%;
}

.table2 th:nth-child(1) {
  min-width: 113px;
}

.table2 th:nth-child(2) {
  min-width: 130px;
}

.table2 th:nth-child(3) {
  min-width: 113px;
}

.table2 th:nth-child(4) {
  width: 100%;
}

.table3 th:nth-child(1) {
  min-width: 210px;
}

.table3 th:nth-child(2) {
  min-width: 133px;
}

.table3 th:nth-child(3) {
  width: 100%;
}

.table4 th:nth-child(1) {
  min-width: 212px;
}

.table4 th:nth-child(2) {
  min-width: 133px;
}

.table4 th:nth-child(3) {
  width: 100%;
}

@media screen and (max-width: 1105px) {
  .table1 th,
  .table1 td,
  .table2 th,
  .table2 td,
  .table3 th,
  .table3 td,
  .table4 th,
  .table4 td {
    padding-left: 10px;
    padding-right: 10px;
  }

  .table2 th:nth-child(1) {
    min-width: 100px;
  }

  .table2 th:nth-child(2) {
    min-width: 125px;
  }

  .table2 th:nth-child(3) {
    min-width: 80px;
  }

  .table3 th:nth-child(1) {
    min-width: 185px;
  }

  .table3 th:nth-child(2) {
    min-width: 110px;
  }

  .table4 th:nth-child(1) {
    min-width: 190px;
  }

  .table4 th:nth-child(2) {
    min-width: 113px;
  }
}
