.buttonSize {
  width: 88px;
  padding: 0;
}

.buttonGroup {
  padding-top: 80px;
  padding-bottom: 80px;
}

.textFormat {
  line-break: strict;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media screen and (max-width: 320px) {
  .buttonGroup {
    margin-bottom: 0px;
  }
  .questionTitle {
    font-size: 20px;
  }
}
