.fontNormal{
  font-weight: normal !important;
}

.cardImg{
  min-width: 100px;
  max-height: 100px;
}

.card {
  width: 311px;
}

.title {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* ----------- iPhone 6s+, 7s+, 8s+ ----------- */
@media only screen
  and (min-device-width: 414px) {

  .card {
    width: 315px;
  }
}

/* ----------- iPhone 6, 7, 8 ----------- */
@media only screen
  and (max-device-width: 375px)
  and (min-device-height: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .innerModal {
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .outerDivBtn {
    margin-bottom: 18px;
  }

  .button {
    height: 40px;
  }

  .card {
    width: 315px;
    margin-bottom: 20px
  }

  .cardImg{
    height: 85px;
  }

  .wpmDiv {
    margin-bottom: 10px;
  }

  .wpmText {
    font-size: 18px;
  }
}

