.notCompleted {
  background: #F3F4F6;
  padding: 10px;
  height: 60px;
  width: 100%;
  color: #6B7280;
}

.completed {
  background: #F3F4F6;
  opacity: 0.2;
  padding: 10px;
  height: 60px;
  width: 100%;
  color: #6B7280;
}
