.tableHeader {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

.tableHeader2 {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
  color: #044071;
}

.status利用中 {
  color: #00A29D;
  font-weight: 700;
  font-size: 12px;
}

.status休会中 {
  color: #C0C0C0;
  font-weight: 700;
  font-size: 12px;
}

.status利用済 {
  font-weight: 700;
  font-size: 12px;
  color: #E34E42;
}

.tableCorporateName {
  color: #0D89EE;
  font-size: 12px;
  font-weight: 400;
}
