#chunk-content .incorrect.text-exam-error :not(i) {
  color: #e34e42 !important;
  border-bottom: 1px solid #e34e42 !important;
}

#chunk-content .text-exam-error :not(i) {
  color: #e34e42 !important;
  border-bottom: 1px solid #e34e42 !important;
}

.slash {
  color: #c0c0c0 !important;
}
